<div class="row">
	<div class="three columns">
	<nav class="bs-docs-sidebar">
		<ul id="sidebar" class="nav sub-nav">
   		<li>
   			<a href="#GroupA" class="subnav-title">L'application web</a>
   		</li>
   		<li>
   			<a href="#GroupB" class="subnav-title">Les vues 3D</a>
				<ul>
					<li><a href="#GroupBSub1">Se déplacer</a></li>
					<li><a href="#GroupBSub2">Zoomer</a></li>
					<li><a href="#GroupBSub3">Sélection</a></li>
					<li><a href="#GroupBSub4">Changer de vue</a></li>
				</ul>
   			</li>
   		<li>
   			<a href="#GroupC" class="subnav-title">Le graphique</a>
				<ul>
					<li><a href="#GroupCSub1">Définir un intervalle</a></li>
					<li><a href="#GroupCSub2">Ajuster l'échelle</a></li>
					<li><a href="#GroupCSub3">Zoomer sur le graphique</a></li>
					<li><a href="#GroupCSub4">Exporter le graphique</a></li>
				</ul>
   		</li>
   		<li>
   			<a href="#GroupD" class="subnav-title">Le tableau statistique</a>
   				<ul>
					<li><a href="#GroupDSub1">Trier le tableau</a></li>
				</ul>
   		</li>
   		<li>
   			<a href="#GroupE" class="subnav-title">L'administration</a>
   				<ul>
					<li><a href="#GroupESub1">Ajouter un capteur</a></li>
					<li><a href="#GroupESub2">Supprimer un capteur</a></li>
					<li><a href="#GroupESub3">Ajouter un dispositif</a></li>
					<li><a href="#GroupESub4">Supprimer un dispositif</a></li>
					<li><a href="#GroupESub5">Ajouter une carte Arduino</a></li>
					<li><a href="#GroupESub6">Connexion des capteurs</a></li>
				</ul>
   		</li>

    </ul>
   </nav>
	</div>
	<div class="nine columns offset-by-three">
		<h1>Documentation</h1>
		<section id="GroupA" class="group">
			<h2>L'application web</h2>
			<p>Le but de cette application web est l'analyse de données géothermiques. À travers une interface claire et simple d'utilisation, vous pourrez analyser un ensemble de données préalablement acquises, grâce à différents outils (graphique, tableau de statistiques) </p>
		</section>
		<section id="GroupB" class="group">
			<h2>Les vues 3D</h2>
			<p>Les vues 3D sont des représentations schématiques des différentes installations réalisées par le département GTE. Ces vues permettent de définir au mieux les capteurs dont on veut étudier les données. </p>
			<div class="subgroup" id="GroupBSub1">
				<h6>Se déplacer</h6>
				<p>Pour se déplacer dans la vue 3D, vous devez utiliser la souris. Le clic gauche permet de faire tourner l'ensemble de la vue 3D autour du point central. Le clic droit quant à lui permet de déplacer la vue latéralement.<img src="assets/images/illustrationAide/deplacement3D.gif" alt="testimage" class="responsive-image"></</p>
			</div>
			<div class="subgroup" id="GroupBSub2">
				<h6>Zoomer</h6>
				<p>Pour zoomer dans la vue 3D, vous devez utiliser la molette. Pour zoomer en avant il faut faire tourner la roulette vers le haut ou appuyer sur le bouton "Zoom +". Pour dézoomer il faut faire tourner la roulette vers le bas ou appuyer sur le bouton "Zoom -". Pour réinitialiser le zoom cliquez sur bouton "Reset".<img src="assets/images/illustrationAide/zoom3D.gif" alt="testimage" class="responsive-image"></p>
			</div>
			<div class="subgroup" id="GroupBSub3">
				<h6>Sélection</h6>
				<p>Les vues 3D représentent les dispositifs réels. Grâce à ces vues 3D vous pouvez sélectionner les capteurs dont vous voulez analyser les données. Pour sélectionner un capteur, il suffit de cliquer dessus. Pour sélectionner plusieurs capteurs, cliquez sur l'ensemble des capteurs que vous voulez sélectionner. Les capteurs sélectionnés s'ajoutent automatiquement au graphique et au tableau de statistiques. Pour désélectionner un capteur il suffit de cliquer dessus de nouveau. À noter, les sondes sélectionnées sont listées sous la vue 3D.<img src="assets/images/illustrationAide/selection3D.gif" alt="testimage" class="responsive-image"></p>
			</div>
			<div class="subgroup" id="GroupBSub4">
				<h6>Changer de vue</h6>
				<p>Pour passer d'une vue 3D à l'autre, il suffit de cliquer sur le bouton de la vue souhaitée. De base, la vue proposée est la vue 3D de la première installation, celle en face de l'amphithéatre C1. Changer de vue désélectionne les capteurs préalablement sélectionnées. <img src="assets/images/illustrationAide/vue23D.gif" alt="testimage" class="responsive-image"> </p>
			</div>
		</section>
		<section id="GroupC" class="group">
			<h2>Le graphique</h2>
			<p>Le graphique permet de visualiser les données relatives aux capteurs sélectionnés. La génération du graphique se fait automatiquement lors de la sélection des capteurs. Autant de capteurs souhaitées peuvent être ajoutées au graphique. Sur le graphique, chaque courbe est associée à une couleur correspondate à celle d'un capteur.</p>
			<div class="subgroup" id="GroupCSub1">
				<h6>Definir un intervalle</h6>
				<p>Une fois des capteurs sélectionnés, il faut définir un intervalle de temps entre lequel on souhaite étudier les données. Par défaut, la semaine courante est sélectionnée. Pour modifier les dates, il suffit de cliquer dessus. Vous pouvez alors écrire une nouvelle date ou utiliser le calendrier pour sélectionner une date.<img src="assets/images/illustrationAide/intervalGraphe.gif" alt="testimage" class="responsive-image"></p>
			</div>
			<div class="subgroup" id="GroupCSub2">
				<h6>Ajuster l'echelle</h6>
				<p>Pour faciliter l'analyse des données, il est possible d'ajuster l'échelle du graphique. Par défaut, l'échelle correspond à l'intervalle de dates précédemment choisi. Il est possible de le modifier avec les options de zoom. On peut sélectionner une abscisse par année, par mois, par jour, ou par heure.<img src="assets/images/illustrationAide/echelleGraphe.gif" alt="testimage" class="responsive-image"></p>
			</div>
			<div class="subgroup" id="GroupCSub3">
				<h6>Zoomer sur le graphique</h6>
				<p>Pour étudier les données sur un intervalle précis, il est possible de zoomer sur les courbes. Pour cela, il suffit de sélectionner l'intervalle souhaité avec le clic gauche de la souris (comme pour surligner un texte). Il est possible de préciser cette sélection ou de la déplacer grâce aux curseurs sous le graphique.<img src="assets/images/illustrationAide/zoomGraphe.gif" alt="testimage" class="responsive-image"> </p>
			</div>
			<div class="subgroup" id="GroupCSub4">
				<h6>Exporter le graphique</h6>
				<p>Pour exporter le graphique, il faut utiliser le menu de droite. Vous pouvez imprimer le graphique ou l'exporter au format PNG, JPEG, PGF, SVG, CSV ou XLS.<img src="assets/images/illustrationAide/exportGraphe.gif" alt="testimage" class="responsive-image"></p>
			</div>
		</section>
		<section id="GroupD" class="group">
			<h2>Le tableau statistique</h2>
			<p>En plus du graphique, le tableau de statistiques permet d'observer les données de capteurs et surtout de les classer. Le tableau se remplit automatiquement lorsque l'on sélectionne un capteur et que l'on modifie l'intervalle d'observation du graphique.</p>
			<div class="subgroup" id="GroupDSub1">
				<h6>Trier le tableau</h6>
				<p>Le tableau liste les valeurs minimale, maximale, moyenne, et enfin l'écart-type. Il est possible de trier le tableau selon ces valeurs. Pour cela il faut cliquer sur le libellé du critère de tri. Cliquez une fois pour avoir un classement croissant et cliquez une seconde fois pour avoir un classement décroissant. Par défaut, les valeurs sont triées par ordre alphabétique selon le nom des capteurs.<img src="assets/images/illustrationAide/stats.gif" alt="testimage" class="responsive-image"></p>
			</div>
		</section>
		<section id="GroupE" class="group">
			<h2>L'administration</h2>
			<p>La partie administration permet de gérer l'ensemble des dispositfs, capteurs et cartes Arduino connectés à la base de données.</p>
			<div class="subgroup" id="GroupESub1">
				<h6>Ajouter un capteur</h6>
				<p>Pour ajouter un capteur, il faut se rendre dans l'onglet "Capteurs" de l'administration. Il suffit de lui renseigner un nom, le dispositif auquel il appartient, le type de capteur (Analogique/Numérique), l'unité de la valeur enregistré par le capteur et enfin les coordonnées du capteur.<img src="assets/images/illustrationAide/ajoutCapteur.PNG" alt="testimage" class="responsive-image"></p>
			</div>
			<div class="subgroup" id="GroupESub2">
				<h6>Supprimer un capteur</h6>
				<p>Pour supprimer un capteur, il faut le sélectionner dans la liste des capteurs. Une fois sélectionné, il vous suffit de valider grâce au bouton "Supprimer". Il est possible de sélectionner plusieurs capteurs à supprimer en même temps en utilisant la touche "CTRL".<img src="assets/images/illustrationAide/supprimerCapteurs.gif" alt="testimage" class="responsive-image"></p>
			</div>
			<div class="subgroup" id="GroupESub3">
				<h6>Ajouter un dispositif</h6>
				<p>Pour ajouter un dispositif, il faut se rendre dans l'onglet "Dispositifs" de l'administration. Afin de pouvoir ajouter un nouveau dispositif à la base de données, il faut renseigner un nom, un type de dispositif (corbeille ou sonde), puis renseigner le lieu où se trouve le dispositif.<img src="assets/images/illustrationAide/ajoutDispositif.PNG" alt="testimage" class="responsive-image"></p>
			</div>
			<div class="subgroup" id="GroupESub4">
				<h6>Supprimer un dispositif</h6>
				<p>Pour supprimer un dispositif, il suffit de le sélectionner dans la liste de dispositifs. Une fois sélectionné, il suffit de valider grâce au bouton "Supprimer". Si des capteurs lui sont encore attachés, ces capteurs sont également supprimés. De même que pour les capteurs, il est possible de sélectionner plusieurs dispositifs à supprimer en utilisant la touche "CTRL".</p>
			</div>
			<div class="subgroup" id="GroupESub5">
				<h6>Ajouter une carte Arduino</h6>
				<p>Pour ajouter une carte Arduino, il faut se rendre dans l'onglet "Arduino". Pour l'ajouter il faut lui renseigner un nom pour l'affichage ainsi que l'adresse MAC de la carte Arduino à connecter.<img src="assets/images/illustrationAide/ajoutArduino.PNG" alt="testimage" class="responsive-image"></p>
			</div>
			<div class="subgroup" id="GroupESub6">
				<h6>Connexion des capteurs</h6>
				<p>Pour connecter un capteur, sélectionnez un dispositif et une carte Arduino dans les listes déroulantes. Une fois ces deux éléments sélectionnés, cliquez sur un capteur et faites le glisser jusqu’au port de la carte Arduino où le capteur doit être connecté. Une fois le capteur placé sur le bon port, un premier bouton permet d’obtenir des informations sur le capteur connecté, un second bouton permet de démarrer l’enregistrement des données renvoyées par le capteur. Lorsque le capteur est connecté, les données ne sont pas enregistrées directement. Pour commencer l'enregsitrement, cliquez sur le bouton “Play” (représenté par un triangle). Cette fonctionnalité permet de laisser un capteur connecté sans se préoccuper des valeurs renvoyées par celui-ci. Ce bouton est réversible, donc pour stopper l’enregistrement, cliquez sur “Pause” (représenter par deux traits verticaux). Pour supprimer un branchement, cliquez sur le troisième bouton apparu précédemment (une croix) et le branchement sera supprimé. Sur cette interface, il est possible de modifier l’intervalle de temps d’envoi des données en sélectionnant le capteur concerné dans la liste déroulante contenant tous les capteurs qui sont associés aux dispositifs selectionnés. Lors de la sélection d’un de ces capteurs, un champs texte apparaît en dessous de la liste déroulante contenant la valeur actuelle. Pour modifier la valeur, saisissez en une autre et validez la modification.</p>
			</div>
		</section>
	</div>
</div>
<div class="push"></div>
