#global {
    margin-top: 70px;
    display: block;
}

#analog > div
{
	max-width: 150px;
	min-height: 50px;
	border: 1px solid black;
	margin-bottom: 5px;
	text-align:center;
}

#numeric > div
{
	min-width: 150px;
	min-height: 50px;
	border: 1px solid black;
	margin-bottom: 5px;
	text-align: center;
}

#res > div
{ 
	margin-bottom: 2px;
	max-width: 150px;
	min-height: 35px;
	text-align: center;
	z-index: 1;
	display: inline-block;
}

#res > div > input {
    height: 25px;
}

#arduinoBoard {
    float: right;
}

#gauche {
    width: 20%;
}