select 
{
	margin-bottom: 20px;
}

.info
{
	margin:0;
	padding: 0;
	background: url("../images/info28.png") no-repeat;
	background-repeat: ;
	background-size: 50%;
	background-position: center;
}
.delete
{
	background: url("../images/delete30.png");
	border:none;
	display: block;
	vertical-align: bottom;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
}

.play
{
	background: url("../images/play43.png");
	border:none;
	display: block;
	vertical-align: bottom;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
}/*
#gauche
{
	position: relative;
	padding: 10px;
	margin-top: 10px;
	width: 25%;
	float: left; 
	text-align: center;
}

#droit
{
	position: relative;
	padding: 10px;
	margin-top: 10px;
	width: 40%;
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
	text-align: center;
}

#arduinoBoard
{
	position: relative;
	padding: 10px;
	margin-left: 10px;
	float: left; 
	text-align: center;
}
#analog 
{
	float:left;
	text-align: center;
	margin-right: 3%;
}

#numeric 
{
	text-align: center; 
	float: left;
	margin-left: 
}

#timeChoice
{
	width: 100px;
}*/
#analog{
	width:44%;
	margin:0;
	padding:3%;
	text-align: center;
}
#numeric{
	width:44%;
	margin:0;
	padding:3%;
	text-align: center;
}
#up ul{
	list-style-type: none;
	display: inline-flex;
	width:100%;
}
#up ul p{
	font-weight: bolder;
}
#up ul li{
	width:50%;
}
#up{
	width:100%;
	text-align: center;
}
#resArduino{
	width:100%;
	display: inline-flex;
}
#resArduino h3{
	text-align: center;
}
#listcapteurs{
	display: inline-flex;
}
.capteur{
	padding:8px;
	margin:3px;
	text-align: center;
	background-color: rgb(243,243,243);
	border-color: rgb(97,97,97);
}
.capteur .info{
	background-color: #5bc0de
}
#analog{
	margin:0;
	padding: 0;
	text-align: center;
}
#analog input{
	margin-bottom: 15px;
}
